GO_RUNTIME_ENV: DEV
SRV_GW_DEVICE__CONFIG__Logger_Format: JSON
SRV_GW_DEVICE__CONFIG__Logger_Level: debug
SRV_GW_DEVICE__CONFIG__Logger_Name: srv-gw-device
SRV_GW_DEVICE__CONFIG__Logger_Output: ALWAYS
SRV_GW_DEVICE__CONFIG__Logger_ReportCaller: "false"
SRV_GW_DEVICE__CONFIG__Postgres_ConnMaxLifetime: 1h
SRV_GW_DEVICE__CONFIG__Postgres_Master: postgres://127.0.0.1:5432
SRV_GW_DEVICE__CONFIG__Postgres_PoolSize: "10"
SRV_GW_DEVICE__CONFIG__Postgres_Retry_Interval: 3s
SRV_GW_DEVICE__CONFIG__Postgres_Retry_Repeats: "3"
SRV_GW_DEVICE__CONFIG__Postgres_Slave: ""
SRV_GW_DEVICE__CONFIG__Server_Debug: "true"
SRV_GW_DEVICE__CONFIG__Server_HealthCheck: http://:80/
SRV_GW_DEVICE__CONFIG__Server_Port: "80"
SRV_GW_DEVICE__CONFIG__Server_Spec: ./swagger.json
SRV_GW_DEVICE__CONFIG__ServiceName: ""
SRV_GW_DEVICE__CONFIG__Transporter_Endpoint: ""
SRV_GW_DEVICE__CONFIG__Transporter_Mode: ""
