GO_RUNTIME_ENV: DEV
SRV_APPLET_MGR____EthClient_ChainEndpoint: ""
SRV_APPLET_MGR____EthClient_PrivateKey: ""
SRV_APPLET_MGR____Jwt_ExpIn: 0s
SRV_APPLET_MGR____Jwt_Issuer: ""
SRV_APPLET_MGR____Jwt_SignKey: ""
SRV_APPLET_MGR____Logger_Format: JSON
SRV_APPLET_MGR____Logger_Level: debug
SRV_APPLET_MGR____Logger_Name: srv-applet-mgr
SRV_APPLET_MGR____Logger_Output: ALWAYS
SRV_APPLET_MGR____Logger_ReportCaller: "false"
SRV_APPLET_MGR____MonitorDB_ConnMaxLifetime: 1h
SRV_APPLET_MGR____MonitorDB_Master: postgres://127.0.0.1:5432
SRV_APPLET_MGR____MonitorDB_PoolSize: "10"
SRV_APPLET_MGR____MonitorDB_Retry_Interval: 3s
SRV_APPLET_MGR____MonitorDB_Retry_Repeats: "3"
SRV_APPLET_MGR____MonitorDB_Slave: ""
SRV_APPLET_MGR____MqttBroker_Keepalive: 3h
SRV_APPLET_MGR____MqttBroker_QoS: ONCE
SRV_APPLET_MGR____MqttBroker_RetainPublish: "false"
SRV_APPLET_MGR____MqttBroker_Retry_Interval: 3s
SRV_APPLET_MGR____MqttBroker_Retry_Repeats: "3"
SRV_APPLET_MGR____MqttBroker_Server: mqtt://127.0.0.1:1883
SRV_APPLET_MGR____MqttBroker_Timeout: 3s
SRV_APPLET_MGR____Postgres_ConnMaxLifetime: 1h
SRV_APPLET_MGR____Postgres_Master: postgres://127.0.0.1:5432
SRV_APPLET_MGR____Postgres_PoolSize: "10"
SRV_APPLET_MGR____Postgres_Retry_Interval: 3s
SRV_APPLET_MGR____Postgres_Retry_Repeats: "3"
SRV_APPLET_MGR____Postgres_Slave: ""
SRV_APPLET_MGR____Redis_ConnectTimeout: 10s
SRV_APPLET_MGR____Redis_DB: "1"
SRV_APPLET_MGR____Redis_Host: 127.0.0.1
SRV_APPLET_MGR____Redis_IdleTimeout: 4m
SRV_APPLET_MGR____Redis_MaxActive: "5"
SRV_APPLET_MGR____Redis_MaxIdle: "3"
SRV_APPLET_MGR____Redis_Password: ""
SRV_APPLET_MGR____Redis_Port: "6379"
SRV_APPLET_MGR____Redis_Prefix: 'dev:srv-applet-mgr:'
SRV_APPLET_MGR____Redis_Protocol: tcp
SRV_APPLET_MGR____Redis_ReadTimeout: 10s
SRV_APPLET_MGR____Redis_Wait: "true"
SRV_APPLET_MGR____Redis_WriteTimeout: 10s
SRV_APPLET_MGR____Server_Debug: "true"
SRV_APPLET_MGR____Server_HealthCheck: http://:80/
SRV_APPLET_MGR____Server_Port: "80"
SRV_APPLET_MGR____Server_Spec: ./swagger.json
SRV_APPLET_MGR____UploadConf_FileSizeLimit: "104857600"
SRV_APPLET_MGR____UploadConf_Root: ./asserts
